{% extends 'base.html.twig' %}

{% block title 'SymfonyStore' %}

{% block body %}
    <h1 class="h2">Our products</h1>

    <div class="row mt-4">
        <div class="col col-4 d-none d-lg-block">
            <strong>Filter by category</strong>

            <ul class="list-unstyled">
                <li><a href="{{ path('app_home') }}" class="text-dark {{ app.request.query.has('category') ? 'text-decoration-none' : 'text-decoration-underline' }}">All</a></li>
                {% for category in categories %}
                    <li><a href="{{ path('app_home', {'category': category.slug}) }}" class="text-dark {{ app.request.query.get('category') == category.slug ? 'text-decoration-underline' : 'text-decoration-none' }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col col-12 col-lg-8">
            <div class="row">
                {% for product in products %}
                    <div class="col col-12 col-sm-6">
                        <a href="#">
                            {% if product.thumbnailId %}
                                <img src="{{ thumbnails[product.id] }}" alt="{{ product.name }}" class="img-fluid">
                            {% else %}
                                <img src="{{ asset('assets/img/no-image-gray.jpg') }}" alt="{{ product.name }}" class="img-fluid">
                            {% endif %}
                        </a>

                        <h3 class="h5 mt-2">
                            <a href="#" class="text-decoration-underline text-dark">{{ product.name|title }}</a>
                        </h3>

                        {% if product.salePrice and product.salePrice < product.price %}
                            <del>{{ app_currency_symbol }}{{ product.price }}</del>
                            <span class="text-danger">
                                {{ app_currency_symbol }}{{ product.salePrice }}
                            </span>
                        {% else %}
                            <div class="mt-2">{{ app_currency_symbol }}{{ product.price }}</div>
                        {% endif %}

                        <div class="mt-2 mb-4">
                            <button data-id="{{ product.id }}" class="btn btn-primary btn-sm btn-add-to-cart">Add to cart</button>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if maxPages > 1 %}
                <div class="mt-4">
                    {% include 'views/pagination.html.twig' with {'route': 'app_home', 'maxPages': maxPages, 'page': page} %}
                </div>
            {% endif %}
    </div>
{% endblock %}