{% extends 'base.html.twig' %}

{% block title %}{{ app_name }}{% endblock %}

{% block body %}
    <h1 class="h2">Store</h1>

    <div class="row mt-4">
        <div class="col col-3 d-none d-lg-block">
            <strong>Filter by category</strong>

            <ul class="list-unstyled">
                <li><a href="{{ path('app_home') }}" class="text-dark {{ app.request.query.has('category') ? 'text-decoration-none' : 'text-decoration-underline' }}">All</a></li>
                {% for category in categories %}
                    <li><a href="{{ path('app_home', {'category': category.slug}) }}" class="text-dark {{ app.request.query.get('category') == category.slug ? 'text-decoration-underline' : 'text-decoration-none' }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col col-12 col-lg-9">
            <div class="d-flex align-items-center justify-content-end mb-3 pe-1">
                <span class="d-inline-flex me-2">Sort</span>
                <select class="form-select form-select-sm w-auto" id="store-sort">
                    {% for sortItem in sortItems %}
                        <option value="{{ sortItem.value }}" {{ app.request.query.get('sort', 'newest') == sortItem.value ? 'selected="selected"' : '' }}>{{ sortItem.toLabel }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="row">
                {% for product in products %}
                    <div class="col col-12 col-sm-6">
                        <a href="{{ path('app_product_show', {'slug': product.slug}) }}">
                            {% if product.thumbnailId %}
                                <img src="{{ thumbnails[product.id] }}" alt="{{ product.name }}" class="img-fluid">
                            {% else %}
                                <img src="{{ asset('assets/img/no-image-gray.jpg') }}" alt="{{ product.name }}" class="img-fluid">
                            {% endif %}
                        </a>

                        <h3 class="h5 mt-2">
                            <a href="{{ path('app_product_show', {'slug': product.slug}) }}" class="text-decoration-underline text-dark">{{ product.name|title }}</a>
                        </h3>

                        <div>
                            {% include 'views/price.html.twig' with {'price': product.Price, 'salePrice': product.salePrice} %}
                        </div>

                        <div class="mt-2 mb-4">
                            <button data-id="{{ product.id }}" class="btn btn-primary btn-sm btn-add-to-cart">Add to cart</button>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if maxPages > 1 %}
                <div class="mt-4">
                    {% include 'views/pagination.html.twig' with {'route': 'app_home', 'maxPages': maxPages, 'page': page} %}
                </div>
            {% endif %}
    </div>
{% endblock %}