{% extends 'base.html.twig' %}

{% block title %}Admin - Products{% endblock %}

{% block body %}
    <h1>Edit product</h1>

    {{ form_start(form) }}

    {{ form_row(form.name) }}

    {{ form_row(form.slug) }}

    {{ form_row(form.description) }}

    {{ form_row(form.price) }}

    {{ form_row(form.salePrice) }}

    {{ form_row(form.category) }}

    {{ form_row(form.status) }}

    {{ form_row(form.thumbnailFile) }}

    {% if thumbnail %}
        <p>
            <img src="{{ thumbnail }}" alt="Thumbnail" style="max-width: 200px;">
        </p>
    {% endif %}

    {{ form_row(form.productFiles) }}

    <h6>Current Files</h6>
    <ul>
        {% for file in currentFiles %}
            <li class="mt-2">
                {{ file.name }}
                <button data-productid="{{ product.id }}" data-id="{{ file.id }}" class="btn btn-danger btn-sm btn-delete-file">Delete</button>
                <a href="{{ uploadDirUrl }}/{{ file.name }}" target="_blank" class="btn btn-primary btn-sm">View</a>
            </li>
        {% endfor %}
    </ul>

    {{ form_row(form.save) }}

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        var deleteFileCsrfToken = "{{ csrf_token('delete_file_csrf') }}";
    </script>

    {{ parent() }}
{% endblock %}
