{% extends 'base.html.twig' %}

{% block title %}Admin - Products{% endblock %}

{% block body %}
<div class="container">
    <div class="p-4 my-4 bg-white shadow rounded">
        <h1>Products</h1>
        <p>Manage your products.</p>
        <p>
            <a href="{{ path('admin_product_create') }}" class="btn btn-primary">Create new product</a>
        </p>

        <table class="table d-none d-lg-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th style="width: 150px">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name|title }}</td>
                        <td>
                            {% include 'views/price.html.twig' with {'price': product.Price, 'salePrice': product.salePrice} %}
                        </td>
                        <td>{{ product.status.toLabel|title }}</td>
                        <td>{{ product.createdAt|date('F d, Y') }}</td>
                        <td>
                            <div class="d-flex">
                                <a href="{{ path('admin_product_edit', {id: product.id}) }}" class="btn btn-sm btn-primary">Edit</a>
                                <form action="{{ path('admin_product_delete', {id: product.id}) }}" method="post" class="ms-1">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-sm btn-danger app-delete-confirm">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="table d-lg-none">
            <thead>
            <tr>
                <th>Product</th>
                <th style="width: 130px">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        <span class="d-block"><strong>Name:</strong> {{ product.name|title }}</span>
                        <span class="d-block"><strong>Price:</strong>
                            {% include 'views/price.html.twig' with {'price': product.Price, 'salePrice': product.salePrice} %}
                        </span>
                        <span class="d-block"><strong>Status:</strong> {{ product.status.toLabel|title }}</span>
                        <span class="d-block"><strong>Date:</strong> {{ product.createdAt|date('F d, Y') }}</span>
                    </td>
                    <td>
                        <div class="d-flex">
                            <a href="{{ path('admin_product_edit', {id: product.id}) }}" class="btn btn-sm btn-primary">Edit</a>
                            <form action="{{ path('admin_product_delete', {id: product.id}) }}" method="post" class="ms-1">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-sm btn-danger app-delete-confirm">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include 'views/pagination.html.twig' with {'route': 'admin_product_index', 'maxPages': maxPages, 'page': page} %}
    </div>
</div>
{% endblock %}
