{% extends 'base.html.twig' %}

{% block title %}{{ app_name }} - {{ product.name }}{% endblock %}

{% block body %}
    <h1>{{ product.name }}</h1>

    {% if thumbnail %}
        <p>
            <img src="{{ thumbnail }}" alt="{{ product.name }}" class="img-fluid">
        </p>
    {% endif %}

    <p>Price: {% include 'views/price.html.twig' with {'price': product.Price, 'salePrice': product.salePrice} %}</p>

    <p>{{ product.description|nl2br }}</p>
    <p>
        <button data-id="{{ product.id }}" class="btn btn-primary btn-sm btn-add-to-cart">Add to cart</button>
    </p>
{% endblock %}
